<div class = "layout">
    <h1> Welcome to The Blog </h1>
    <h2 > Please sign up or sign in to post a blog</h2>
    <a  href="/sign_up" class="btn btn-primary">Sign Up</a> 
    <a  href="/sign_in" class="btn btn-primary">Sign In</a>
</div>