<a class="btn btn-primary" href="/sign_in" />Sign In</a>
<br>
<div class = "sign-up">
  <div class = "main-content ">
      <h3> Submit the form below to create an account </h3>
  </div>
  <br>

  <form class = "main-content" id = "form" action="/sign_up" method="POST">
    <br>
    <div class="form-group">
      <label for="firstname"></label>
      <input type = "text"  id="firstname" size="60" name = "firstname" placeholder="Enter Your First Name" required>
    </div>

    <br>
    <div class="form-group">
      <label for="lastname"></label>
      <input type = "text"  id="lastname" size="60" name = "lastname" placeholder="Enter Your Last Name" required>
    </div>

    <br>
    <div class="form-group">
      <label for="email"></label>
      <input type = "email"  id="email" size="60" name = "email" placeholder="Enter Your Email" required>
    </div>

    <br>
    <div class="form-group">
      <label for="username"></label>
      <input type = "text"  id="username" size="60" name = "username" placeholder="Enter Your Username" required>
    </div>

    <br>
    <div class="form-group">
      <label for="password"></label>
      <input type = "password"  name = "password" size="60" placeholder="Enter Your Password" required>
    </div>

    <br>
    <div class="form-group ">
      <label for="birthday">Birthday:</label>
      <input type = "date" size="60" name = "birthday">
    </div>
    <br>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" name = "submit" style = >Submit</button>
    </div>
  </form>
</div>
