<a class="btn btn-primary" href="/sign-in" />Sign In</a>
<br>
<div class = "sign-up">
  <div class = "main-content ">
      <h3> Submit the form below to create an account </h3>
  </div>
  <br>

  <form class = "main-content" id = "form" action="/sign_up" method="POST">
    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <input type = "text"  id="exampleFormControlTextarea1" size="60" name = "firstname" placeholder="Enter Your First Name ">
    </div>

    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <input type = "text"  id="exampleFormControlTextarea1" size="60" name = "lastname" placeholder="Enter Your Last Name ">
    </div>

    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <input type = "email"  id="exampleFormControlTextarea1" size="60" name = "email" placeholder="Enter Your Email ">
    </div>

    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <input type = "text"  id="exampleFormControlTextarea1" size="60" name = "username" placeholder="Enter Your Username ">
    </div>

    <br>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"></label>
      <input type = "password"  name = "password" size="60" placeholder="Enter Your Password ">
    </div>

    <br>
    <div class="form-group ">
      <label for="exampleFormControlTextarea1">Birthday:</label>
      <input type = "date" size="60" name = "birthday">
    </div>
    <br>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" name = "submit" style = >Submit</button>
    </div>
  </form>
</div>
