<div class="sign-in">
  <div class="navbar-margin-right">

    <span class="right">
      <a  href="/" >Home</a>
    </span>
  </div>
  <br>
  <div class="layout">
    <div>
        <h1> Sign In Form </h1>
    </div>
    <br>

    <form class = "" id = "form" action="/sign_in" method="POST">
      <br>
      <div class="form-group">
        <label for="username"></label>
        <input type = "text"  id="username" size="60" name = "username" placeholder="Enter Your Username " required>
      </div>
      <br>

      <div class="form-group">
        <label for="password"></label>
        <input type = "password"  name = "password" size="60" placeholder="Enter Your Password" required>
      </div>
      <br>

      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary" name = "submit" style = >Submit</button>
      </div>
    </form>
  </div>
</div>

